---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  
}
const { name } = Astro.props;
---

<button
type="button"
class="share-button"
onclick="

navigator.clipboard.writeText(window.location.href).then(() => alert('Link copied!'))"
>
  <div
    class="flex h-10 w-10 flex-col justify-center rounded-lg transition-all hover:brightness-75 dark:hover:brightness-125 btn-regular p-2 my-2 ml-2"
  >
    <div class="flex flex-row justify-center">
      <Icon name={name} size={24} class="text-[1.5rem]" />
    </div>
  </div>

</button>